*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40em;
    gap: 10px;
}

h3{
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsla(0, 0%, 3%, 0.849);
    filter: drop-shadow(
        1px 2px 2px hsla(0, 2%, 43%, 0.548)
        );
    
}

.flex .card-1{
    width: 15em;
    text-align: center;
    border: 1px solid hsla(0, 0%, 0%, 0.250);
    box-shadow: 8px 8px 8px hsla(0, 2%, 43%, 0.548);
    margin-top: 10px;
    border-radius: 10px;
}

.flex .card-2{
    width: 15em;
    height: 7em;
    text-align: center;
    border: 1px solid hsla(0, 0%, 0%, 0.250);
    box-shadow: 8px 8px 8px hsla(0, 2%, 43%, 0.548);
    margin-top: 10px;
    border-radius: 10px;
}

img{
    width: 15em;
    height: 15em;
    padding: 10px;
}

img:hover{
    filter:opacity(1);
    transform: rotate(-90deg);
}

button{
    background-color: hsla(182, 25%, 50%, 0.445);
    padding: 5px;
    border: 1px solid hsla(0, 2%, 58%, 0.24);
    border-radius: 5px;
    box-shadow: 1px 3px hsla(0, 2%, 58%, 0.24);
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    font-weight: 600;
}